doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
    block js
      if ENV_DEVELOPMENT
  body
    block content
